p {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#header{
	background-color:#44FFFF;
	border-radius:10vw;
	padding:1vw;
	margin:1vw;
	display: grid;
	justify-content: center;
	align-items: center;
	transform:translate(0%,0%);
	height:20;
}

#title{
	display:grid;
	justify-content:center;
	align-items:centerm;
	font-size:10vw;
	margin:2vw;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.clover-base{
	position:relative;
}

.clover1{
	border-radius:50% 50% 0% 50%;
	width:40vw;
	height:40vw;
	
	background:linear-gradient(-45deg, #FFFF00, #00FF88 50%, #00FFCC);
	
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-touch-callout:none;
	-moz-user-select:none;
	touch-callout:none;
	user-select:none;
}

.clover2{
	border-radius:50% 50% 50% 0%;
	width:40vw;
	height:40vw;
	
	background:linear-gradient(45deg, #FFFF00, #00FF88 50%, #00FFCC);
	
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-touch-callout:none;
	-moz-user-select:none;
	touch-callout:none;
	user-select:none;
}

.clover3{
	border-radius:50% 0% 50% 50%;
	width:40vw;
	height:40vw;
	
	background:linear-gradient(-135deg, #FFFF00, #00FF88 50%, #00FFCC);
	
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-touch-callout:none;
	-moz-user-select:none;
	touch-callout:none;
	user-select:none;
}

.clover4{
	border-radius:0% 50% 50% 50%;
	width:40vw;
	height:40vw;
	
	background:linear-gradient(135deg, #FFFF00, #00FF88 50%, #00FFCC);
	
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-touch-callout:none;
	-moz-user-select:none;
	touch-callout:none;
	user-select:none;
}

.clover-button1{
	position:absolute;
	top:20vw;
	left:0vw
	
}

.clover-button2{
	position:absolute;
	top:20vw;
	left:42vw;
	
}

.clover-button3{
	position:absolute;
	top:62vw;
	left:0vw;
	
}

.clover-button4{
	position:absolute;
	top:62vw;
	left:42vw;
}

.clover-text1{
	position:absolute;
	top:40%;
	left:45%;
	transform:translate(-45%,-40%);
	
	color:#FFFFFF;
	font-size:5vw;
}

.clover-text2{
	position:absolute;
	top:40%;
	left:45%;
	transform:translate(-45%,-40%);
	
	color:#FFFFFF;
	font-size:5vw;
}

.clover-text3{
	position:absolute;
	bottom:40%;
	left:45%;
	transform:translate(-45%,40%);
	
	color:#FFFFFF;
	font-size:5vw;
}

.clover-text4{
	position:absolute;
	bottom:40%;
	left:45%;
	transform:translate(-45%,40%);
	
	color:#FFFFFF;
	font-size:5vw;
}

