#emptyMessage{
    padding: 4px;
}

#emptyMessage > .buttonHolder{
    width: 100%;
    height: auto;
    display: flex;
}

#emptyMessage > .buttonHolder > .button{
    width: auto;
    height: auto;
    margin: auto;
    padding: 4px 8px;

    background: #FFFFFF;
    border: #00000080 solid 1px;
    border-radius: 4px;
    
    font-size: large;
    text-align: center;
    text-decoration: none;
}

#emptyMessage > .buttonHolder > .button:hover{
    text-decoration: underline;
}