.item{
    background: #FFFFFF;
}

.item-url{
    user-select: none;

    color: #585858;
}

.item-title{
    font-size: x-large;
    text-decoration: none;
}

.item-title:hover{
    text-decoration: underline;
}

.item-description{
    color: #606060;
}