.line{
    width: 944px;
    min-height: calc(75vh - 8px);

    margin: 0 auto;
    padding: 8px;

    background: #D0FFD0;
}

.line *{
    width: 100%;
    margin: 2px 0;
}

@media screen and (max-width: 959px) {
    .line{
        width: calc(100vw - 16px);
        min-height: calc(87.5vh - 8px);
    }
}