#searchPane{
    width: 100%;
    height: auto;
    display: flex;

    background: #FFFFFF;
    border: #000000 solid 1px;
}

#searchQuery{
    width: 80%;
    height: 32px;
    margin: auto;
    padding: 0 8px;

    resize: none;
    outline: none;
    overflow: hidden;
    overflow-wrap: unset;

    border-radius: 32px;
}