body{
    margin: 0;
}

.topbar{
    width: 100vw;
    height: 25vh;
}

.topbar *{
    user-select: none;
}

.topbar_back{
    width: 100%;
    height: 100%;
}

.topbar_cover{
    width: 100%;
    height: 100%;

    background: #00000020;
}

.topbar_title{
    width: auto;
    height: auto;
    margin: auto;

    font-size: 96px;
    font-weight: 500;
    color: #FFFFFF;
}

.topbar_top_menu{
    width: 100%;
    height: 48px;

    display: flex;
}

.topbar_top_menu_home_anchor{
    width: auto;
    height: 100%;
}

.topbar_top_menu_home{
    width: auto;
    height: 100%;
}

.topbar_top_menu_home:hover{
    background: #FFFFFF20;
}

.topbar_top_menu_search{
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: auto;
}

.topbar_top_menu_search_field{
    width: 80%;
    height: auto;
    margin: auto;

    resize: none;
    border: none;
    outline: none;
}

.topbar_top_menu_search_button{
    width: auto;
    height: 80%;
    aspect-ratio: 1;
    margin: auto 0 auto auto;
}

.topbar_top_menu_search_button:hover{
    background: #FFFFFF20;
}

.topbar_blank{
    width: auto;
    height: calc(100% - 96px);
    display: flex;
}

.topbar_bottom_menu{
    width: 100%;
    height: 48px;
    display: flex;
}

.topbar_bottom_menu_button_anchor{
    height: 100%;
}

.topbar_bottom_menu_button{
    width: 100%;
    height: 100%;

    display: flex;
}

.topbar_bottom_menu_button:hover{
    background: #FFFFFF20;
}

.topbar_bottom_menu_button_label{
    width: auto;
    max-width: 100%;
    height: 100%;

    margin: auto;
    display: flex;
}

.topbar_bottom_menu_button_label_text{
    width: auto;
    max-height: 100%;
    
    margin: auto 0;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 100;
    color: #FFFFFF;
}

.topbar_bottom_menu_button_label_icon{
    height: 100%;
}

@media screen and (max-width: 959px) {
    .topbar{
        height: 25vh;
    }

    .topbar_top_menu{
        height: 36px;
    }

    .topbar_blank{
        width: auto;
        height: calc(100% - 84px);
    }
    
    .topbar_title{
        font-size: 32px;
    }

    .topbar_bottom_menu{
        height: 48px;
    }

    .topbar_bottom_menu_button{
    }

    .topbar_bottom_menu_button_label_text{
        display: none;
    }

    .topbar_bottom_menu_button_label_icon{
        
    }
}